
body {
    width: 90%;
    margin: 1em 5% 1em 5%;
}

#action {
    display: block;
    width: 100%;
    margin-top: 1em;
    padding: 1em;
    font-size: 200%;
}

.on {
    background: green;
}

.off {
    background: red;
}

textarea {
    width: 100%;
    height: 3em;
}

.info {
    font-size: 75%;
}

#resettag {
    float: right;
}

#message {
    color: red;
}
